.row {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

#chicken-tile, #beef-tile, #sushi-tile {
    position: relative;
}

#chicken-tile p, #beef-tile p, #sushi-tile p {
    background-color: gray;
    padding: 16px;
}

#chicken-tile p span, #beef-tile p span, #sushi-tile p span {
    font-weight: 900;
    display: block;
    font-size: 1.6em;
}
